<div class="container w-100 mw-100 h-100 bg-white overflow-auto">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>datetime (UTC)</th>
                <th>angolo orario (h)</th>
                <th>declinazione (°)</th>
                <th>temperatura (K)</th>
                <th>massa (M⊙)</th>
                <th>raggio (R⊙)</th>
                <th>Classe Harvard</th>
                <th>inclinazione orbitale</th>
                <th>albedo(%)</th>
                <th>distanza (UA)</th>
                <th>sistema solare</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; index as i">
                <td>{{ item.type }}</td>
                <td>{{ item.datetime | date:"dd-MM-yyyy HH:mm" }}</td>
                <td>{{ item.hour_angle }}</td>
                <td>{{ item.declination }}</td>
                <td>{{ item.temperature }}</td>
                <td>{{ item.mass }}</td>
                <td>{{ item.radius }}</td>
                <td>{{ item.harvard_class }}</td>
                <td>{{ item.orbital_inclination }}</td>
                <td>{{ item.albedo }}</td>
                <td>{{ item.distance }}</td>
                <td>{{ item.solar_system }}</td>
                <td>
                    <div class="d-flex jusify-content-around align-items-center gap-3">
                        <i class="fa fa-edit" aria-hidden="true" (click)="selectData(item, i)" title="Modifica"></i>
                        <i class="fas fa-trash-alt" (click)="deleteData(i)" title="Elimina"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="selectedData">
        <h2>Modifica Dati</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>datetime (UTC)</th>
                    <th>angolo orario (h)</th>
                    <th>declinazione (°)</th>
                    <th>temperatura (K)</th>
                    <th>massa (M⊙)</th>
                    <th>raggio (R⊙)</th>
                    <th>Classe Harvard</th>
                    <th>inclinazione orbitale</th>
                    <th>albedo(%)</th>
                    <th>distanza (UA)</th>
                    <th>sistema solare</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{selectedData.item.type}}</td>
                    <td>
                        <input class="form-control form-control-sm" [(ngModel)]="selectedData.item.datetime"
                            type="datetime-local">
                    </td>
                    <td>
                        <input class="form-control form-control-sm" [(ngModel)]="selectedData.item.hour_angle">
                    </td>
                    <td>
                        <input class="form-control form-control-sm" [(ngModel)]="selectedData.item.declination">
                    </td>
                    <td>
                        <input class="form-control form-control-sm" [disabled]="options[selectedData.item.type][3]===0"
                            [(ngModel)]="selectedData.item.temperature" type="number">
                    </td>
                    <td><input class="form-control form-control-sm" [disabled]="options[selectedData.item.type][4]===0"
                            [(ngModel)]="selectedData.item.mass" type="number"></td>
                    <td><input class="form-control form-control-sm" [disabled]="options[selectedData.item.type][5]===0"
                            [(ngModel)]="selectedData.item.radius" type="number"></td>
                    <td><input class="form-control form-control-sm" [disabled]="options[selectedData.item.type][6]===0"
                            [(ngModel)]="selectedData.item.harvard_class" type="number">
                    </td>
                    <td><input class="form-control form-control-sm" [disabled]="options[selectedData.item.type][7]===0"
                            [(ngModel)]="selectedData.item.orbital_inclination" type="number">
                    </td>
                    <td>
                        <input class="form-control form-control-sm" [disabled]="options[selectedData.item.type][8]===0"
                            [(ngModel)]="selectedData.item.albedo" type="number">
                    </td>
                    <td>
                        <input class="form-control form-control-sm" [disabled]="options[selectedData.item.type][9]===0"
                            [(ngModel)]="selectedData.item.distance" type="number">
                    </td>
                    <td class="position-relative text-center" style="vertical-align: middle;">
                        <div>
                            <input [disabled]="options[selectedData.item.type][10]===0"
                                [(ngModel)]="selectedData.item.solar_system" type="checkbox">
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary p-2" (click)="updateData()">Salva</button>
        </div>
    </div>
</div>